src/autoyast-rnc/pxe.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace config = "http://www.suse.com/1.0/configns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

pxe = element pxe {
    element pxe_localboot { BOOLEAN }? &
    element pxelinux-config { text }? &
    element tftp-server { text }? &
    element pxelinux-dir { text }?
}

