src/autoyast-rnc/ssh-import.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace config = "http://www.suse.com/1.0/configns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

ssh_import =
  element ssh_import {
    element import      { BOOLEAN }? &
    element copy_config { BOOLEAN }? &
    element device      { text }?
  }