autoinstallation/src/data/dtd/raid.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT raid (raid_device+)>
<!ATTLIST raid
	config:type CDATA #REQUIRED
>
<!ELEMENT raid_device (chunk_size, device_name, filesystem, format, mount,  parity_algorithm, persistent_superblock, raid_level)>

<!ELEMENT chunk_size (#PCDATA)>
<!ELEMENT device_name (#PCDATA)>
<!ELEMENT parity_algorithm (#PCDATA)>
<!ELEMENT persistent_superblock (#PCDATA)>
<!ELEMENT raid_level (#PCDATA)>

