src/data/dtd/classes.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT autoinstall (classes)>
<!ATTLIST autoinstall
	xmlns CDATA #REQUIRED
	xmlns:config CDATA #REQUIRED
>
<!ELEMENT class (description, name, order)>
<!ELEMENT classes (class+)>
<!ATTLIST classes
	config:type CDATA #REQUIRED
>
<!ELEMENT description (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT order (#PCDATA)>
<!ATTLIST order
	config:type CDATA #REQUIRED
>
