src/data/dtd/host.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT host_address (#PCDATA)>
<!ELEMENT host (hosts)>
<!ELEMENT hosts (hosts_entry+)>
<!ATTLIST hosts
	config:type CDATA #FIXED "list"
>
<!ELEMENT hosts_entry (host_address,names)>
<!ELEMENT names (name+)>
<!ATTLIST names
	config:type CDATA #FIXED "list"
>
