src/data/dtd/inetd.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT inetd (inetd_services, start_inetd)>
<!ELEMENT inetd_service (service_name, service_status)>
<!ELEMENT inetd_services (inetd_service)>
<!ATTLIST inetd_services
	config:type CDATA #REQUIRED
>
<!ELEMENT start_inetd (#PCDATA)>
<!ATTLIST start_inetd
	config:type CDATA #REQUIRED
>
