src/data/dtd/network_advanced.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ldap (ldap_domain, ldap_server, ldap_tls, ldap_v2, start_ldap)>
<!ELEMENT ldap_domain (#PCDATA)>
<!ELEMENT ldap_server (#PCDATA)>
<!ELEMENT ldap_tls (#PCDATA)>
<!ATTLIST ldap_tls
	config:type CDATA #REQUIRED
>
<!ELEMENT ldap_v2 (#PCDATA)>
<!ATTLIST ldap_v2
	config:type CDATA #REQUIRED
>
<!ELEMENT start_ldap (#PCDATA)>
<!ATTLIST start_ldap
	config:type CDATA #REQUIRED
>
