src/data/dtd/runlevels.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT runlevels (default?, services?)>
<!ELEMENT service (service_name, service_status?, service_start?, service_stop?)>
<!ELEMENT service_name (#PCDATA)>
<!ELEMENT service_status (#PCDATA)>
<!ELEMENT service_start (#PCDATA)>
<!ELEMENT service_stop (#PCDATA)>
<!ELEMENT services (service+)>
<!ATTLIST services
	config:type CDATA #REQUIRED
>
