src/data/dtd/sysconfig.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT sysconfig (sysconfig_entry+)>
<!ATTLIST sysconfig
	config:type CDATA #REQUIRED
>
<!ELEMENT sysconfig_entry (sysconfig_key, sysconfig_path, sysconfig_value)>
<!ELEMENT sysconfig_key (#PCDATA)>
<!ELEMENT sysconfig_path (#PCDATA)>
<!ELEMENT sysconfig_value (#PCDATA)>
