src/data/dtd/users.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- <!ELEMENT group (gid, group_password, groupname, userlist)> -->
<!ELEMENT group_password (#PCDATA)>
<!ELEMENT groupname (#PCDATA)>
<!ELEMENT groups (group+)>
<!ATTLIST groups
    config:type CDATA #REQUIRED
>

<!ELEMENT userlist (#PCDATA)>

<!ELEMENT expire (#PCDATA)>
<!ELEMENT inactive (#PCDATA)>
<!ELEMENT skel (#PCDATA)>
<!ELEMENT user_defaults (expire?, group?, home?, inactive?, shell?, skel?)>

