src/data/profiles.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by fra (foo) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT autoinstall (classes)>
<!ATTLIST autoinstall
	xmlns CDATA #REQUIRED
	xmlns:config CDATA #REQUIRED
>
<!ELEMENT class (description, name, order)>
<!ELEMENT classes (class+)>
<!ATTLIST classes
	config:type CDATA #REQUIRED
>
<!ELEMENT description (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT order (#PCDATA)>
<!ATTLIST order
	config:type CDATA #REQUIRED
>
