src/schema/files.rnc

# <!ENTITY % y2_files_scripts "source|interpreter">

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace config = "http://www.suse.com/1.0/configns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

file_src = file_contents
  | file_location
files =
  element files {
    LIST,
    element file { file_src? & file_path & file_permissions?
	& file_owner? & file_script? }+
  }
file_contents = element file_contents { text }
file_location = element file_location { text }
file_path = element file_path { text }
file_permissions = element file_permissions { text }
file_owner = element file_owner { text }
file_script = element file_script { interpreter, source }
